.clock {
    display: block;
    position: relative;
    width: 100px; /* Adjust the size as needed */
    height: 100px; /* Adjust the size as needed */
    /* width: 200%; */
    /* height: 100%; */
}

.clock-face {
    fill: #333;
    stroke: #f0f0f0;
    stroke-width: 1;
}

.hour-number {
    font-size: 10px; /* Increase font size for better visibility */
    fill: #f0f0f0;
    text-anchor: middle;
    dominant-baseline: middle; /* Center the text vertically */
}

.minute-dot {
    fill: #f0f0f0;
}

.second-hand {
    stroke: #e40505;
    stroke-width: 1;
}

.hour-hand,
.minute-hand {
    stroke: #f0f0f0;
    stroke-width: 2;
}

.hour-hand,
.minute-hand,
.second-hand {
    stroke-linecap: round;
    transform-origin: 50% 50%;
}
